body {

    width: 1920px;
    background-color:#363636;
    
}

h1 {

    color: white;
    text-align: center;

}

img {

    width:450px;
    height:253.5px;
    padding:12.5px

}